*{
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    height: 100vh;
}

.taskbar {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #f3f3f3;
}

.startmenu{
    position: absolute;
    bottom: 45px;
    width: 100%;
    text-align: center;
}

.startmenu img{
    border-radius: 8px;
}

.right{
    position: absolute;
    right: 0;
    margin: 5px 0;
    height: 85%;
}